#mybody {
  margin: 0px;
  padding: 0px;
  background-color: #e1e1e1;
}
/*Home*/
/*Navbar*/
.navbar {
  background-color: #ffffff;
  width: 102%;
}

.navbar-button {
  position: relative;
  height: 3rem;
  width: 3rem;
}
.shopping-cart-icon {
  margin-top: 3.5px;
}
.counter-icon {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
}

/*Products*/
.card.products-card {
  width: 250px;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.card-img.products-card-image {
  width: 200px;
  height: 260px;
}
.card-title {
  width: 250px;
  height: 200px;
}

.products-card:hover {
  /* Scale up the card when hovered */
  transform: scale(1.05); /* Adjust the scale factor as needed */
  box-shadow: 0px 0px 150px -50px rgba(0, 0, 0, 1);
}

/* Explicitly define styles for child elements to prevent inheritance */
.products-card img,
.products-card .title,
.products-card .price {
  pointer-events: none; /* Disable pointer events */
  transition: none; /* Remove any transition effects */
}

/*EachProducts*/
.card-img.eachproducts-card-image {
  height: 300px;
  width: 240px;
  margin: 10px;
}

.eachproduct-discription {
  margin-top: 30px;
  width: 60%;
  padding: 10px;
}
.card-title.eachproduct-card-title {
  width: 100%;
  height: 25%;
}
.eachproducts-card-body {
  height: auto;
}

/*SideBar*/
.sidebar {
  width: 100px;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
}

.sidebar-button {
  background-color: #7eb2dd;
}
/*ShoppingCart*/

/*CartItems*/
.shoppingcart-image {
  width: 60px;
  height: 75px;
}
@media only screen and (max-width: 480px) {
  /*navbar*/
  .navbar {
    height: 50px;
  }
  .nav-link.navbar-link {
    font-size: 13px;
  }
  .navbar-button {
    position: relative;
    width: 2rem;
    height: 2rem;
  }
  .shopping-cart-icon {
    margin-left: -5px;
    margin-top: -3px;
  }
  .counter-icon {
    color: white;
    font-size: 12px;
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(55%, 55%);
  }

  /*Products*/
  .card.products-card {
    width: 210px;
    height: 370px;
    margin-left: 45px;
  }
  .card-img.products-card-image {
    width: 130px;
    height: 170px;
  }
  .card-title {
    width: 180px;
    height: 130px;
  }
  .product-card-title-text {
    font-size: 14px;
  }
  /*EachProducts*/
  .eachproduct-flex-container {
    flex-direction: column;
  }
  .card-img.eachproducts-card-image {
    height: 250px;
    width: 190px;
    margin: 10px;
  }

  .eachproduct-discription {
    margin-top: 150px;
    width: 60%;
    padding: 10px;
  }
  .card-title.eachproduct-card-title {
    width: 100%;
    height: 25%;
  }
  .eachproducts-card-body {
    height: auto;
  }
  /*SideBar*/
  .sidebar {
    width: 85px;
  }
  .nav-link.sidebar-text {
    font-size: 14px;
  }
}
